body {
  background-image: url('../imagens/fundo.jpg');
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.caixa{
  background-color: rgba(255, 255, 255, 0.95);
  border:2px solid rgb(66, 66, 66);
  border-radius:10px;
  text-align:center;
  max-width:80%;
  margin: 20px auto;
  padding:20px;
  color:#4D4D4D;

}
.caixa h1{
  text-transform:uppercase;
}

.caixa label{
  color:black;
}

footer{
  position:absolute;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.55);
  width:100%;
  text-align:center;
  text-transform:uppercase;
}

footer p{
  margin:0px;
  text-transform:uppercase;
}

input{
  text-align:center;
}
nav{
  line-height:40px;
}

nav a{
  color:#4D4D4D !important;
  text-decoration:none;
  margin:10px;
  font-size:15px;
  transition: 0.2s ease;
}

nav a:hover{
  color:cornflowerblue!important;
  font-size:17px; 
}

button{
  background-color:aqua;
  border-radius:10px;
  border:1px dashed #4D4D4D;
  cursor:pointer;
  transition: 0.2s ease;
}

button:hover{
  transform:scale(110%);
}

nav a.active {
  border-bottom: 4px solid cornflowerblue;
  padding-bottom: 1px;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
}
.tabela,
.tabela th,
.tabela td {
  border: 2px dashed #008000;
}
.tabela th {
  font-weight: bold;
  font-size: 17px;
  background: transparent;
  color: #004900;
}

.tabela td {
  color: #008000;
  font-size:14px;
}

.tabela tr:nth-child(2n) {
  background-color: rgba(0, 255, 255, 0.35);
}

.tabela tr:first-child {
  background: transparent;
}

.tabela th,
.tabela td {
  line-height: 24px;
}

.tabela th:nth-child(1),
.tabela td:nth-child(1) {
  width: 10%;
}

.tabela th:nth-child(2),
.tabela td:nth-child(2) {
  width: 49%;
}

.tabela th:nth-child(3),
.tabela td:nth-child(3) {
  width: 14%;
}

.tabela th:nth-child(4),
.tabela td:nth-child(4) {
  width: 27%;
}


.sentidos {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap:20px;
}

.sentidos label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.tabela.tabela-editar th:nth-child(5),
.tabela.tabela-editar td:nth-child(5) {
  width: 17%;
  text-align: center;
  padding: 5px 15px;
  transition: padding 0.3s ease;
}

.tabela.tabela-editar td:nth-child(5) button {
  transition: all 0.3s ease;
  white-space: nowrap;
}

.tabela.tabela-editar tr:hover {
  background-color: rgba(255, 0, 0, 0.2);
}

.tabela.tabela-editar tr:hover td:hover {
  background-color: rgba(255, 255, 0, 0.5) !important;
}

.tabela.tabela-editar td:nth-child(5):hover {
  padding: 5px 30px;
}
